.blog-wrapper {
  color: #3b444f;
  .list-content{
    border-top: 1px solid #D3D5D7;
    .blogs {
      margin: 50px 10%;
      height: auto;
      .blog-item {
        width: 70%;
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #D3D5D7;
        .image {
          width: 100%;
          height: 450px;
          img {
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }
        .title {
          margin-top: 16px;
          margin-left: 16px;
          font-size: 24px;
          color: #0088FF;
          font-weight: 600;
        }
        .description {
          font-size: 16px;
          text-indent: 0.5cm;
          color: #0F1824;
          margin-top: 8px;
        }
      }
    }
  }
}